
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(embed|i)/(.*)/?$ index.php?image=$2&type=$1
RewriteRule ^upload/?$ index.php
RewriteRule ^api/?$ api.php

